[submodule "dev-tools"]
	path = dev-tools
	url = https://github.com/JeffYoung17/dev-tools.git
[submodule "Note"]
	path = Note
	url = https://github.com/JeffYoung17/Note.git
[submodule "fabu_memo"]
	path = fabu_memo
	url = https://github.com/JeffYoung17/fabu_memo.git
