[submodule "dev-tools"]
	path = dev-tools
	url = https://github.com/JeffYoung17/dev-tools.git
[submodule "Note"]
	path = Note
	url = https://github.com/JeffYoung17/Note.git
[submodule "xMemo"]
	path = xMemo
	url = git@github.com:JeffYoung17/xMemo.git
[submodule "Blog"]
	path = Blog
	url = https://github.com/JeffYoung17/Blog.git
